body {
  padding: 16px;
  text-align: center;
}

header {
  background-color: lightslategray;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 12px;
}

section {
  width: 80%;
  margin: 0 auto;
  background-color: lightgray;
  overflow: hidden;
}

h3 {
  text-align: left;
  color: black;
  margin-left: 12px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  width: 250px;
  margin: 24px;
}